$break-medium: 860;
$break-large: 1280px;

$breakpoint-small: "screen and (max-width: 860px)";
$breakpoint-medium: "screen and (min-width: 860px) and (max-width: 1280px)";
$breakpoint-large: "screen and (min-width: 1280px)";
