@import '../sizes';
@import '../styles';
@import '../flex';

html {
    min-height: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* remove scrollbar space */
    height: 0; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
  }

.toolbar-title {
    color: #274d5b;
    margin-top: 24px;
    padding: 4px;
    font-family: 'Outfit';
    @media #{$breakpoint-small} {
        margin-top: 20px;
        padding-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 1px;

      }
      @media #{$breakpoint-medium} {
        margin-top: 40px;
        padding-bottom: 40px;
        font-size: 2.0rem;
        font-weight: 1000;
        letter-spacing: 3px;

      }
      @media #{$breakpoint-large} {
        margin-top: 40px;
        padding-bottom: 60px;
        font-size: 2.0rem;
        font-weight: 1000;
        letter-spacing: 3px;


      }
  }

  .book-title {
    color: #274d5b;
    font-size: 1.3rem;
    margin-top: 14px;
    font-weight: 800;
    }

.toolbar-menu-item {
    background: transparent;
    border: none;
    overflow: hidden;
  }
.content {
    width: 100%;
    display: flex;
}

.content-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
  }


body {
    height: 100%;
    margin: 0px;
    font-family: 'Outfit',Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.book-item {
margin-bottom: 32px;
border-radius: unset;
box-shadow: unset !important;
background: #835d4e2e;
@media #{$breakpoint-small} {
    width: 90vw;
  }
  @media #{$breakpoint-medium} {
    width: 45vw;

  }
  @media #{$breakpoint-large} {
    width: 45vw;
  }
}
.book-list {
    display: flex;
}

.home-card-content {
      display: flex !important;
    }
 .book-image {
 padding: 10px;
 }

 .book-information {
 padding: 20px;
 }
 .toolbar{
    background: transparent;
    margin-top:15px;
 }

 .menu-buttons {
    margin-left: auto; 
margin-right: 0;
display: flex;
 }
